<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
    <!-- ##CLIENTCONFIG-DB-CONNECTION-STRING## -->
    <!-- DEV NOTE: pooling has been turned off to enable t-sql debugging in VS, by default it is switched on - cchambers -->
    <add name="ConnectionString" connectionString="Data Source=localhost;Initial Catalog=Prototype;Integrated Security=True;Application Name=ConsoleHangfire;"/>
  </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
</configuration>